:root {
    --bgColor: rgb(252, 251, 251);
    --navItem: rgba(112, 112, 112, 0.986);
    --appleFont: serif;
}

/* Body Start */
body {
    scroll-behavior: smooth;
    background-color: var(--bgColor);
}

/* Body End */

/* Navbar Start */
.appleLogo {
    width: 50px;
    margin: 0px 40px;
}

.navbar-brand {
    font-family: serif;
}

.nav-item a {
    font-family: serif;
    font-size: larger;
    color: var(--navItem);
    position: relative;
}

@media screen and (min-width:992px) {
    .nav-item a::before {
        content: "";
        position: absolute;
        background-color: var(--navItem);
        width: 0%;
        height: 1px;
        left: 7px;
        bottom: 7px;
    }

    .nav-item a:hover:not(.notHover)::before {
        width: 80%;
        transition: 0.3s;
    }
}

/* Navbar End */

/* Header Start */
@media screen and (min-width: 992px) {
    height: 90vh;
}

.headerText1,
.headerText2 {
    font-family: var(--appleFont);
}

.headPlay {
    transition: 0.5s;
}

.headPlay:hover {
    transform: scale(1.03);
}

.headButton {
    transition: 0.5s;
}

.headButton:hover {
    transform: scale(1.03);
}

/* Header End */

/* Menu Start */
.menuTitle {
    font-family: var(--appleFont);
}

@media screen and (max-width: 768px) {
    .card-text {
        padding-left: 20%;
    }
}

@media screen and (min-width: 768px) {
    .iPhoneButton {
        margin-top: 75px;
    }

    .airButton {
        margin-top: 65px;
    }

    .podsProButton {
        margin-top: 85px;
    }

    .macProButton {
        margin-top: 70px;
    }

    .xdrImage {
        margin-bottom: 75px;
    }

    .maxButton {
        margin-top: 65px;
    }
}

@media screen and (min-width: 769px) {
    .proMaxButton {
        margin-top: 40px;
    }

    .podsProButton {
        margin-top: 100px;
    }

    .appleWatch {
        margin-top: 40px;
    }

    .macProButton {
        margin-top: 10px;
    }

    .xdrImage {
        margin-top: 50px;
        margin-bottom: 45px;
    }

    .maxText {
        margin-top: 20px;
    }

    .maxButton {
        margin-top: 0px;
    }
}

@media screen and (min-width: 992px) {
    .airButton {
        margin-top: 75px;
    }

    .appleWatch {
        margin-top: 30px;
    }

    .xdrImage {
        margin-top: 60px;
        margin-bottom: 75px;
    }

    .maxText {
        margin-top: 35px;
    }

    .maxButton {
        margin-top: 38px;
    }

    .podsProButton {
        margin-top: 80px;
    }

    .appleWatch {
        margin-top: 50px;
    }

    .macProButton {
        margin-top: 70px;
    }

    .proMaxButton {
        margin-top: 0px;
    }
}

@media screen and (min-width: 1200px) {
    .appleWatch {
        margin-top: 38px;
    }

    .xdrImage {
        margin-top: 100px;
        margin-bottom: 60px;
    }

    .airButton {
        margin-top: 8px;
    }

    .proMaxButton {
        margin-top: 30px;
    }

    .macProButton {
        margin-top: 20px;
    }

    .podsProButton {
        margin-top: 20px;
    }

    .maxButton {
        margin-top: 20px;
    }
}

@media screen and (min-width:1400px) {
    .appleWatch {
        margin-top: 55px;
    }

    .xdrImage {
        margin-top: 100px;
        margin-bottom: 90px;
    }
}

/* Menu End */

/* About Start */
.aboutTitle {
    font-family: var(--appleFont);
}

.aboutText {
    text-align: justify;
    font-family: var(--appleFont);
    font-size: large;
}

@media screen and (max-width: 1200px) {
    .videoHidden {
        display: block;
    }

    .videoVisible {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .videoVisible {
        display: block;
    }

    .videoHidden {
        display: none;
    }
}

/* About End */

/* Event Start */
@media screen and (min-width: 0px) {
    .eventImage {
        height: 250px;
    }
}

@media screen and (min-width: 500px) {
    .eventImage {
        height: 300px;
    }
}

@media screen and (min-width: 768px) {
    .eventImage {
        height: 400px;
    }
}

@media screen and (min-width: 992px) {
    .eventImage {
        height: 580px;
    }
}

@media screen and (min-width: 1200px) {
    .eventImage {
        height: 700px;
    }
}

.carouselText {
    font-family: var(--appleFont);
    color: var(--bgColor);
}

.carouselTitle {
    font-family: var(--appleFont);
}

/* Event End */

/* Gallery Start */
.galleryText {
    font-family: var(--appleFont);
}

.mainImage img {
    width: 400px;
    height: 200px;
}

.imgArrow {
    position: relative;
    bottom: 100px;
    width: 500px;
}

.imgPrev,
.imgNext {
    color: black;

    transition: 0.3s;
}

.imgNext {
    float: right;
}

.imgPrev:hover,
.imgNext:hover {
    color: rgb(63, 62, 62);
}

.imgPrev:hover {
    transform: translate(-10px);
}

.imgNext:hover {
    transform: translate(10px);
}

.smallImage img {
    height: 60px;
    display: none;
    transition: 0.3s;
}

.smallImage img:hover {
    transform: scale(1.05);
}

@media screen and (min-width: 768px) {
    .smallImage img {
        display: block;
    }
}

@media screen and (min-width: 992px) {
    .mainImage img {
        width: 700px;
        height: 400px;
    }

    .imgArrow {
        position: relative;
        bottom: 200px;
        width: 790px;
    }
}

@media screen and (min-width: 1200px) {
    .mainImage img {
        width: 900px;
        height: 500px;
    }

    .imgArrow {
        position: relative;
        bottom: 250px;
        width: 1000px;
    }

    .smallImage img {
        height: 90px;
    }
}

@media screen and (min-width: 1400px) {
    .mainImage img {
        width: 1100px;
        height: 600px;
    }

    .imgArrow {
        position: relative;
        bottom: 300px;
        width: 1200px;
    }
}

/* Gallery End */

/* Contact Start */
.contactTitle {
    font-family: var(--appleFont);
}

.contactDiv {
    background-color: rgb(151, 149, 149);
    height: 100px;
}

.contactDiv:hover .contactIcon,
.contactDiv:hover .contactText {
    color: rgb(75, 72, 72);
}

@media screen and (max-width: 768px) {
    .svg {
        width: 75%;
    }
}

@media screen and (min-width: 768px) {
    .svg {
        width: 100%;
    }
}

.contactCursor {
    cursor: default;
}

/* Contact End */

/* Footer Start */

.footerImg1 {
    display: none;
}

.footerImg2 {
    width: 25%;
}


@media screen and (min-width: 992px) {
    .footerImg2 {
        display: none;
    }

    .footerImg1 {
        display: block;
        width: 70%;
    }
}

@media screen and (min-width: 1200px) {
    .footerImg1 {
        width: 60%;
    }
}

@media screen and (min-width: 1400px) {
    .footerImg1 {
        width: 50%;
    }
}

.footerText {
    font-family: var(--appleFont);
}

.footerIcons .facebook i {
    color: white;
}

.footerIcons .facebook:hover i {
    color: rgb(24, 119, 242);
}

.footerIcons .youtube i {
    color: white;
}

.footerIcons .youtube:hover i {
    color: rgb(255, 0, 0);
}

.footerIcons .x i {
    color: white;
}

.footerIcons .x:hover i {
    color: #aca9a9;
}

.footerIcons .instagram i {
    color: white;
}

.footerIcons .instagram:hover i {
    color: #fc6a45;
}

/* Footer End */

/* Preloader Start */
#preloader {
    position: fixed;
    inset: 0;
    overflow: hidden;
    background-color: white;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    transition: 0.6s;
}

#preloader::before,
#preloader::after {
    content: "";
    position: absolute;
    border: 4px solid var(--navItem);
    border-radius: 50%;
    animation: animate-preloader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

#preloader::after {
    animation-delay: -0.5s;
}

@keyframes animate-preloader {
    0% {
        width: 10px;
        height: 10px;
        top: calc(50% - 5px);
        left: calc(50% - 5px);
        opacity: 1;
    }

    100% {
        width: 100px;
        height: 100px;
        top: calc(50% - 50px);
        left: calc(50% - 50px);
        opacity: 0;
    }
}

/* Preloader End */

/* ScrollUP Btn Start */
#myBtn {
    /* Hidden by default */
    display: none;
    /* Fixed/sticky position */
    position: fixed;
    /* Place the button at the bottom of the page */
    bottom: 20px;
    /* Place the button 30px from the right */
    right: 30px;
    /* Make sure it does not overlap */
    z-index: 99;
    /* Remove borders */
    border: none;
    /* Remove outline */
    outline: none;
    /* Set a background color */
    background-color: var(--navItem);
    /* Text color */
    color: white;
    /* Add a mouse pointer on hover */
    cursor: pointer;
    /* Some padding */
    padding: 15px;
    /* Rounded corners */
    border-radius: 10px;
    /* Increase font size */
    font-size: 20px;
    transition: 0.6s;
}

#myBtn:hover {
    /* Add a dark-grey background on hover */
    background-color: #555;
    transform: translate(0px, -10px);
}

/* ScrollUP Btn End */

/* Dark Mode Start */
.darkMode {
    font-family: var(--appleFont);
    font-size: medium;
}

.darkMode i {
    color: rgba(131, 121, 121, 0.986);
}

/* Dark Mode End */